@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@200&family=Righteous&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,800;1,100;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#Seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid yellow;
    border-radius: 15px;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 32px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid yellow;
    border-radius: 15px;
}


.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 200px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid yellow;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}


#boton-mascota{
    background: transparent;
    color: white;
    border: solid 2px yellow;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Fredoka One', cursive;
}

#Seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid yellow;
    border-radius: 20px;
    width: 100px;
    color: white;
    font-family: 'Fredoka One', cursive;
}